@{
    ViewData["Title"] = "Category overview";
}

<h1 class="title-txt fst-italic inter-bold">Categories</h1>
<p class="fst-italic inter-regular">Search games based on category</p>
<p class="fst-italic inter-bold">Not yet impletemented</p>