@{
    ViewData["Title"] = "Add genre page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/addItem.css" asp-append-version="true" />
}

<h1 class="title-txt fst-italic inter-bold">Add a genre</h1>
<div class="mt-3">
    <h2 class="header-txt inter-bold mb-1">Name</h2>
    <input placeholder="Enter the name of the genre here..." />

        <h2 class="header-txt inter-bold mb-1">Image url</h2>
        <input placeholder="Enter the image url of the genre here..." />

    <div class="d-flex mt-2 flex-row align-items-center">
        <button class="action-btn primary-bg d-flex justify-content-center align-items-center ">
            <p class="mb-0">Save</p>
        </button>

        <button class="action-btn primary-bg d-flex justify-content-center align-items-center ms-3">
            <p class="mb-0">Cancel</p>
        </button>
    </div>

</div>