@{
    ViewData["Title"] = "Admin panel";
}

@section Styles{
    <link rel="stylesheet" href="~/css/panel.css" asp-append-version="true" />
}

<h1 class="title-txt fst-italic inter-bold">Admin panel</h1>
<p class="fst-italic inter-regular">Site management hub</p>

<h2 class="header-txt inter-bold mb-1">Add</h2>
<div class="d-flex flex-row mb-3">
    <a asp-action="AddGame" asp-controller="AdminPanel" class="d-flex primary-bg primary-btn inter-regular text-black me-3">Add a game</a>
    <a asp-action="AddGenre" asp-controller="AdminPanel" class="d-flex primary-bg primary-btn inter-regular text-black">Add a genre</a>
</div>
<h2 class="header-txt inter-bold mb-1">Manage</h2>
<div class="d-flex flex-row">
    <a asp-action="EditGame" asp-controller="AdminPanel" class="d-flex primary-bg primary-btn inter-regular text-black me-3">Manage a game</a>
    <a asp-action="EditGenre" asp-controller="AdminPanel" class="d-flex primary-bg primary-btn inter-regular text-black">Manage a genre</a>
</div>