@{
    ViewData["Title"] = "Password reset";
}
<html lang="en">
    <head>
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    </head>

    <body>
        <div class="d-flex flex-column">
            <h1 class="text-center">Password reset</h1>
            <form method="post" asp-controller="Login" asp-action="PasswordReset" class="d-flex flex-column mx-auto mt-5">
                <!--Email-->
                <label for="Email">Email</label>
                <input for="Email" class="login" placeholder="Enter your account's' email here..." />
                
                <div class="d-flex mt-3 justify-content-center">
                    <button type="submit" class="primary-bg btn login">Submit</button>
                </div>
            </form>
        </div>
    </body>
</html>