@{
    ViewData["Title"] = "Sign up";
}
<html lang="en">
    <head>
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    </head>

    <body>
        <div class="d-flex flex-column">
            <h1 class="text-center">Sign up</h1>
            <form method="post" asp-controller="Login" asp-action="SignUp" class="d-flex flex-column mx-auto mt-5">
                <!--Email-->
                <label for="Email">Email</label>
                <input for="Email" class="login" placeholder="Enter your email here..." />
                <!--Username-->
                <label for="Username">Username</label>
                <input for="Username" class="login" placeholder="Enter your name here..." />
                <!--Password-->
                <label for="Password">Password</label>
                <input type="password" class="login" for="Password" placeholder="Enter your password here..." />
                <label for="Password">Password</label>
                <input type="password" class="login" for="Password" placeholder="Confirm your password..." />

                <div class="d-flex mt-3 justify-content-center">
                    <button type="submit" class="primary-bg btn login">Submit</button>
                </div>
                <div class="mx-auto">
                    <p class="mt-2 mb-0">Already have an account? <a class="complementary-txt" asp-controller="Login" asp-action="Login">Log in here!</a></p>
                </div>
            </form>
        </div>
    </body>
</html>