@model SignUpViewModel

@{
    ViewData["Title"] = "Sign up";
}
@section Styles{
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}
        
<div class="d-flex flex-column">
    <h1 class="text-center">Sign up</h1>
    <form method="post" asp-controller="Login" asp-action="SignUp" class="d-flex flex-column mx-auto mt-5">
        <!--Email-->
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="login" placeholder="Enter your email here..." />
        <!--Username-->
        <label asp-for="Username">Username</label>
        <input asp-for="Username" class="login" placeholder="Enter your name here..." />
        <!--Password-->
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" class="login" placeholder="Enter your password here..." />
        @* <label for="Password">Password</label>
        <input type="password" class="login" placeholder="Confirm your password..." /> *@

        <div class="d-flex mt-3 justify-content-center">
            <button type="submit" class="primary-bg btn login">Submit</button>
        </div>
        <div class="mx-auto">
            <p class="mt-2 mb-0">Already have an account? <a class="complementary-txt" asp-controller="Login" asp-action="Login">Log in here!</a></p>
        </div>
    </form>
</div>