.search-input {
    width: 20em;
    text-align: start;
    background: url('../icons/search.svg') no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: 10%; 
    text-indent: 1.125rem;
}

.logo-first-color {
    color: #7970CA;
}
.logo-second-color {
    color: #107D4B;
}