@using GamerScore.DTO
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

<h1 class="title-txt fst-italic inter-bold">Home</h1>
<p class="fst-italic inter-regular">An overview of all your favourite reviewable games</p>

<div class="d-flex flex-row align-items-center">
    <h2 class="inter-regular">Newly added</h2>
    <div class="ms-auto">
        <button class="bg-transparent border-0" onclick="ScrollLeft('newlyAddedItemList')">
            <img class="flip-horizontal scroll-arrow" src="~/icons/right-arrow.svg" alt="right-arrow" />
        </button>
        <button class="bg-transparent border-0" onclick="ScrollRight('newlyAddedItemList')">
            <img class="scroll-arrow" src="~/icons/right-arrow.svg" alt="right-arrow" />
        </button>
    </div>
</div>

<div id="newlyAddedItemList" class="itemlist-container">
    @foreach(Game game in Model.games)
    {
        <a class="item-container text-decoration-none" asp-action="Game" asp-controller="Game" asp-route-gameId="@game.Id">
            <div class="item-container-top"></div>
            <div class="d-flex align-items-center flex-column item-container-bottom">
                <img class="item-image" src="@(!string.IsNullOrEmpty(game.ThumbnailImageUrl) ? game.ThumbnailImageUrl : "/images/vertical-unknown.png")" alt="image not found" />
                <p class="inter-regular item-text">@game.Title</p>
            </div>
        </a>
    }
</div>

<div class="d-flex flex-row align-items-center">
    <h2 class="inter-regular">Highly rated</h2>
    <div class="ms-auto">
        <button class="bg-transparent border-0" onclick="ScrollLeft('highlyRatedItemList')">
            <img class="flip-horizontal scroll-arrow" src="~/icons/right-arrow.svg" alt="right-arrow" />
        </button>
        <button class="bg-transparent border-0" onclick="ScrollRight('highlyRatedItemList')">
            <img class="scroll-arrow" src="~/icons/right-arrow.svg" alt="right-arrow" />
        </button>
    </div>

</div>

<div id="highlyRatedItemList" class="itemlist-container">
    <div class="d-flex justify-content-center">
        <p class="inter-regular">Not yet implemented</p>
    </div>
</div>

@section Scripts{
    <script src="~/js/Converter.js" asp-append-version="true"></script>
    <script src="~/js/Home.js" type="text/javascript" asp-append-version="true"></script>
}
