@{
    ViewData["Title"] = "News Page";
}

<h1 class="title-txt fst-italic inter-bold">News</h1>
<p class="fst-italic inter-regular">Updates about the site</p>
<p class="fst-italic inter-bold">Not yet impletemented</p>