@using System.IdentityModel.Tokens.Jwt
@{
    var jwtToken = Context.Request.Cookies["jwtToken"];
    bool isLoggedIn = !string.IsNullOrEmpty(jwtToken);

    bool isAdmin = false;

    if (isLoggedIn)
    {
        var handler = new JwtSecurityTokenHandler();
        var jwtSecurityToken = handler.ReadJwtToken(jwtToken);
        var roleClaim = jwtSecurityToken.Claims.FirstOrDefault(c => c.Type == "Role");
        isAdmin = roleClaim != null && roleClaim.Value == "Admin";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GamerScore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GamerScore.styles.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Madimi+One&display=swap" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
    <header>
        <nav class="secondary-bg navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand fs-4 madimi-one-regular" asp-area="" asp-controller="Home" asp-action="Home"><span class="logo-first-color">Gamer</span><span class="logo-second-color">Score</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link inter-regular text-dark" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                        </li>
                        <li class="nav-item ps-5">
                            <a class="nav-link inter-regular text-dark" asp-area="" asp-controller="" asp-action="">Categories</a>
                        </li>
                        <li class="nav-item ps-5">
                            <a class="nav-link inter-regular text-dark" asp-area="" asp-controller="" asp-action="">News</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item align-self-center">
                            <input class="search-input inter-regular input-group-text" placeholder="Search for a game" />
                        </li>
                    </ul>
                    @if (isLoggedIn)
                    {
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="d-flex flex-row container dropdown-container bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img class="img-fluid" src="~/icons/person.svg" />
                                        <img class="img-fluid dropdown-arrow" src="~/icons/right-arrow.svg" />
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item-size dropdown-item bg-transparent" href="#">
                                                <div class="d-flex align-items-center">
                                                    <img class="dropdown-icon" src="~/icons/cog.svg" />
                                                    <p class="dropdown-text text-black">Settings</p>
                                                </div>
                                            </a>
                                        </li>
                                        @if(isAdmin){
                                            <li>
                                                <a class="dropdown-item-size dropdown-item bg-transparent" href="#">
                                                    <div class="d-flex align-items-center">
                                                        <img class="dropdown-icon" src="~/icons/male-close-up-silhouette-with-tie.svg" />
                                                        <p class="dropdown-text text-black">Admin panel</p>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                        <li>
                                            <a class="dropdown-item-size dropdown-item bg-transparent" asp-action="LogOut" asp-controller="Login">
                                                <div class="d-flex align-items-center">
                                                    <img class="dropdown-icon" src="~/icons/exit.svg" />
                                                    <p class="dropdown-text text-black">Log out</p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item pe-5">
                                <a class="nav-link inter-regular text-dark" asp-area="" asp-controller="Login" asp-action="Login">Log in</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link inter-regular text-dark px-3 primary-bg" asp-area="" asp-controller="Login" asp-action="SignUp">Sign up</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - GamerScore
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
